/* The stylesheet for the Contact form in the contact page Page */
.message_field{
    resize: none;
    border: 1px solid gray;
}

.name_field, .email_field, .message_field{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 7px;
    font-size: 1rem;
}

.form_label, .name_field, .email_field, .message_field{
    display: block;
    width: var(--contact_page_content_width);
}

.form_label{
    margin-top: 1rem;
}

.submit_button{
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    margin-top: 1rem; 
}

.submit_button:hover{
    background-color: #c9c9c9;
}
